<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"
      [routerLink]="['/home-page']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
      [routerLink]="['/ffl-list']">List of FFL's</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
      [routerLink]="['/add-ffl']">Add an FFL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
      [routerLink]="['/about']">About</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>