<form name="newFFLForm">

<div class="row">
  <div class="col-sm-12">
    <h4>Short/Full Licence</h4>
  <label for="ffl-list">Enter ffl license number: </label>
  <form>
    <input type="string" class="form-control" id="shortLicence" [(ngModel)]="shortLicence" name="shortLicence" placeholder="1-23-4567 or 1-12-123-12-0E-01234"/>
    <br/>
    <button (click)="clearForm()" type="submit" class="btn btn-primary" style="margin-right: 5px;">
      Clear
    </button>
    <button (click)="submitFfl()" type="submit" class="btn btn-primary" style="margin-left: 5px;">
      Add FFL
    </button>
  </form>
  </div>
</div>

  <div class="row">
    <div class="col-sm-12">
      <h4>Batch Upload</h4>
		<label for="ffl-list">Choose ffl list file: </label>
		
		<form ngNoForm action="/ffl/upload" method="POST" enctype="multipart/form-data">
			<input class="form-control" style="height: 44px;" type="file" id="ffl-list" name="ffl-list"accept="text/csv">
			<button style="margin: 15px; margin-left: 0%;" class="btn btn-primary" type="submit">Upload FFL List</button>
		</form>
    </div>
  </div>
</form>
