input {
    /* margin: 20px; */
    background-color: rgb(197, 197, 197);
    border: 1px solid black;
    /* max-width: fit-content; */
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
    margin-bottom: 15px;
    padding: 4px 12px;
    text-align: center;
  }

  .form-group {
      margin-top: 20px;
  }

  #shortLicence {
      align-items: left;
  }