<form name="listFFLsForm">
  <div class="operation">
    <h4>Search FFLs</h4>
    <div style="padding: 5px; padding-bottom: 10px;">
      Enter your zip code:
      <input type="double" [(ngModel)]="zip" placeholder="Ex: 84401" name="zip"/> Mile
      radius:
      <select type="double" selected="5" [(ngModel)]="radius" placeholder="1-100" name="radius">
        <option>1</option>
        <option>5</option>
        <option>10</option>
        <option>25</option>
        <option>50</option>
        <option>100</option>
      </select>
    </div>
    <div>
      <span>
        <button class="btn btn-primary" style="margin: 10px;" (click)="search()">Search</button>
        <button class="btn btn-primary" (click)= "findAll()">View All</button>
    </span>
    <alert id="list-alert"></alert>
    </div>
  </div>
  <div class="table-responsive">
  <table *ngIf="arrFfls && arrFfls.length > 0" class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">License</th>
        <th scope="col">Name</th>
        <th scope="col">Business</th>
        <th scope="col">Street</th>
        <th scope="col">City, State Zip</th>
        <th scope="col">Phone</th>
        <th>...</th>
      </tr>
    </thead>
    <tr *ngFor="let ffl of arrFfls">
      <td>{{ffl.license_number}}</td>
      <td>{{ffl.license_name}}</td>
      <td>{{ffl.business_name}}</td>
      <td>{{ffl.premise_street}}</td>
      <td>{{ffl.premise_city}}, {{ffl.premise_state}} {{ffl.premise_zip_code}}</td>
      <td>{{ffl.voice_phone}}</td>
      <td><button class="btn btn-primary" (click)= "removeFfl(ffl.license_number)">Remove</button></td>
    </tr>
  </table>
</div>
</form>
