<div style="padding: 5px; padding-bottom: 10px;">
    Enter your zip code: <input type="number" [(ngModel)]="zip">
    Mile radius: <select type="number" [(ngModel)]="radius">
        <option>5</option>
        <option>10</option>
        <option>25</option>
        <option>50</option>
        <option>100</option>
    </select>
</div>
<div>
    <button style="margin: 10px;" (click)="searchZip()">View Locations</button>
</div>

<table>
    <tr>
      <th id="color">License number</th>
      <th>License name</th>
      <th id="color">Business name</th>
      <th>Premise street</th>
      <th id="color">Premise city</th>
      <th>Premise state</th>
      <th id="color">Premise zip code</th>
    </tr>
    </table>
